.feedbacks {
  padding-bottom: 71px;
  .title {
    margin-bottom: 70px;
  }
  &__item {
    display: flex;
  }
  hr {
    border-bottom: none;
    margin: 50px 0;
    background-color: #f6f6f6;
  }
  &__descr {
    margin-left: 60px;
  }
  &__title {
    font-size: 18px;
    font-weight: 700;
    color: #0d0d0d;
    margin-bottom: 10px;
  }
  &__subtitle {
    font-size: 14px;
    font-weight: 300;
    color: #646464;
    margin-bottom: 19px;
  }
  &__text {
    font-size: 16px;
    font-weight: 300;
    color: #0d0d0d;
    line-height: 1.2;
  }
}
