@media (max-width: 991px) {
  .promo {
    &__wrapper {
      align-items: center;
    }
  }
  .catalog {
    padding-bottom: 50px;
    &__content {
      justify-content: space-around;
    }
  }
  .feedbacks {
    &__descr {
      margin-left: 30px;
    }
  }
}

@media (max-width: 767px) {
  .header {
    padding: 0 34px;
    &__official {
      display: none;
    }
  }
  .advantages {
    padding: 35px 0 40px;
    &__wrapper {
      margin-top: 45px;
      flex-direction: column;
      align-items: center;
    }
    &__item {
      margin-top: 20px;
    }
    &__subtitle {
      margin-top: 19px;
    }
    &__descr {
      margin-top: 12px;
    }
  }
  .consultation {
    min-height: 565px;
    padding: 50px 0 46px;
    &__descr {
      font-size: 17px;
    }
  }
  .title {
    &_left {
      font-size: 27px;
    }
  }
  .catalog {
    &__tabs {
      margin-top: 35px;
    }
    &__tab {
      width: 175px;
    }
  }
  .feedbacks {
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__descr {
      margin: 0;
    }
    &__title {
      text-align: center;
      margin-top: 10px;
    }
    &__subtitle {
      text-align: center;
    }
    &__text {
      text-align: justify;
      padding: 0 10px;
    }
  }
}

@media (max-width: 575px) {
  .header {
    padding: 0;
    flex-direction: column;
    &__contacts {
      margin-top: 20px;
    }
  }
  .promo {
    padding-bottom: 45px;
    &__wrapper {
      margin-top: 45px;
    }
    &__header {
      font-size: 35px;
      text-align: center;
    }
    &__subheader {
      font-size: 19px;
      text-align: center;
    }
    &__icons {
      width: 314px;
    }
  }
  .consultation {
    &__descr {
      text-align: center;
    }
  }
  .feed-form {
    width: 320px;
    align-items: center;
  }
  .title {
    font-size: 22px;
    &_left {
      text-align: center;
    }
  }
  .catalog {
    &__tab {
      width: 92px;
      height: 35px;
      line-height: 35px;
      font-size: 11px;
      &:hover {
        box-shadow: 3px 3px 10px $main-color;
      }
    }
  }
  .feedbacks {
    .title {
      font-size: 25px;
    }
  }
}
